* {
    background-color: black;
    color: aliceblue;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gif-container {
    text-align: center;
    margin-top: 50px;
}

.my-gif {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}